<div class="microtile">
  <%= microtile.title %>
  (<%= microtile.children.size %>)
  <%= link_to 'Show', microtile %>
  <%= link_to 'Edit', edit_item_path(microtile) %>
  <%= link_to 'Destroy', microtile, :confirm => 'Are you sure?', :method => :delete %>          
</div>