<div class="microtile <%= micro_tile_sizer microtile %>"  style="background-image: url(<%= microtile.image ? microtile.image.url(:tiny) : '' %>)">
  <a class="linker" href="<%= item_path(microtile) %>">  
  <div class="interior">
    <!-- <h3><%= microtile.title %></h3> -->
    <!-- (<%= microtile.children.size %>) -->
    
       <%= render :partial => "items/nanotile", :collection => microtile.children %> 
    
  </div>
  </a>
</div>