
<div class="tile <%= tile_sizer item %>" style="background-image: url(<%= item.image ? item.image.url : '' %>)">
<a class="linker" href="<%= item_path(item) %>">  
  <div class="top">
  <h2><%= item.title %></h2>
    <% if current_user %>
    <div class="action">
      <%= link_to 'Edit', edit_item_path(item), :class => "edit" %>
      <%= link_to '', item, :confirm => 'Are you sure?', :method => :delete, :class => "delete" %>
      <!-- <%= link_to '+ New', new_item_path %>  -->
    </div>
    <% end %>
  <div class="clear"></div>
  </div>

  <div class="interior">
    <div class="content">
      <% if item.text %>
          <div class="text">
            <%= truncate(item.text, 1024) %>
          </div>
      <% end %>      
      <% if item.audio_file_size %>
          <div class="audio">
            <p id="audioplayer_<%= item.id %>">Alternative content</p>  
            <script type="text/javascript">  
              AudioPlayer.embed("audioplayer_<%= item.id %>", {soundFile: "<%= item.audio.url %>"});  
            </script>
          </div>
        <% end %>
    </div>
    <% if item.children.size > 0 %>
    <div class="children">
      <%= render :partial => "items/microtile", :collection => item.children %>
      <div class="clear"></div>  
    </div>
    <% end %>
  </div>
  </a>
</div>
