<div class="tile" style="background: url(<%= item.file.url %>);">
    <h2><%= item.title %></h2>
    <div class="action">
      <%= link_to '+', new_item_path() %> 
    </div>
    <div class="tags">
    <%= link_to 'Show', item %>
    <%= link_to 'Edit', edit_item_path(item) %>
    <%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %>
    </div>
</div>