<div class="tile" style="background-image: url(<%= item.image ? item.image.url : '' %>)">
  <div class="interior">
    <h2><%= item.title %></h2>
    <% if current_user %>
    <div class="action">
      <%= link_to 'Show', item %>
      <%= link_to 'Edit', edit_item_path(item) %>
      <%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %>
      <%= link_to '+', new_item_path %> 
    </div>
    <% end %>
    
    <br clear="both" />
    
    <div class="content">
      <%= render :partial => "items/microtile", :collection => item.children %>  
      <%= item.audio_attachment_embed ? item.audio_attachment_embed : '' %>
    </div>
  </div>
</div>