<%- content_for :head do %>
  <h1><%= current_view_title(@item) %></h1>
<%- end %>
  <div id="tiles" class="singleview">
    <div class="interior">
      <div class="content">
        <% if not @item.text.blank? %>
            <div class="text">
              <%= @item.text %>
            </div>
        <% end %>      
        <% if @item.audio_file_size %>
            <div class="audio">
              <p id="audioplayer_<%= @item.id %>">Alternative content</p>  
              <script type="text/javascript">  
                AudioPlayer.embed("audioplayer_<%= @item.id %>", {soundFile: "<%= @item.audio.url %>"});  
              </script>
            </div>
          <% end %>
      </div>
      <% if @item.children.size > 0 %>
      <div class="children">
        <% @item.children.each do |item| %>
          <%= render :partial => "tile", :locals => { :item => item } %>
        <% end %>
        <div class="clear"></div>  
      </div>
      <% end %>
  </div>