<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>trellissss</title>
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "fonts" %>
    <%= stylesheet_link_tag "application" %>


    <%= javascript_include_tag "jquery-1.2.6", "tiles" -%>
  </head>
  <body>
    <%= render :partial => "layouts/header" %>

    <%= yield -%>
    
    <%= render :partial => "layouts/footer" %>
  </body>
</html>