<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>trellis</title>
    <!-- <%= stylesheet_link_tag "blueprint/print" %> -->
    <!--[if IE]> <%= stylesheet_link_tag "blueprint/ie" %><![endif]-->
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "jquery-1.2.6", "tiles", "jquery.history", "jqModal", "audio-player", "jquery.hoverIntent.minified" -%>
    <script type="text/javascript">  
      AudioPlayer.setup("/player.swf", {  
          width: 220, transparentpagebg: "yes"
      });  
    </script>
  </head>
  <body style="background-image: url(<%= @background ? @background : '/images/bg.gif' %>)">
    <div class="container">
      
    <%= render :partial => "layouts/header" %>

    <%= yield -%>
    
    <%= render :partial => "layouts/footer" %>
    
    </div>
    
    <div id="dialog" class="jqmWindow new_item_dialog">
      <!-- invis -->
    </div>

  </body>
</html>